<section class="souvenirs" ng-controller="souvenirsController">

	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Сувенирная продукция</h2>
				<hr class="primary">
			</div>
		</div>
	</div>

	<div class="tab-controls tab-primary" ng-show="user.isAdmin">
		<span ng-click="categoriesView()" ng-class="{'active-tab': page == 'categoriesView'}">Главная страница</span>
		<span ng-click="categoriesEdit()" ng-class="{'active-tab': page == 'categoriesEdit'}">Настройки категорий</span>
		<span ng-click="souvenirsEdit()" ng-class="{'active-tab': page == 'souvenirsEdit'}">Настройки сувениров</span>
		<span ng-click="orders()" ng-class="{'active-tab': page == 'orders'}">Список заказов</span>
	</div>

	<div ng-switch="page">
		<div ng-switch-when="categoriesView">
			<ng-include src="'app/modules/souvenirs/categories-view.html'"></ng-include>
		</div>
		<div ng-switch-when="categoriesEdit">
			<ng-include src="'app/modules/souvenirs/categories-edit.html'"></ng-include>
		</div>
		<div ng-switch-when="souvenirsView">
			<ng-include src="'app/modules/souvenirs/souvenirs-view.html'"></ng-include>
		</div>
		<div ng-switch-when="souvenirsEdit">
			<ng-include src="'app/modules/souvenirs/souvenirs-edit.html'"></ng-include>
		</div>
		<div ng-switch-when="orders">
			<ng-include src="'app/modules/souvenirs/orders.html'"></ng-include>
		</div>
	</div>

</section>